body{
    background-color: #fff5cd;
    }
h1{
    color: #1e0d5a
    }


.zhong{
    text-align: center;
    }
#papa1{
    color: #211e57;
    font-size: 22px;
}
.content{
    font-size: 14px;
    font-family: "Microsoft YaHei";
}